@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flyonui/dist/full.css";

@layer base {
    html {
        scroll-behavior: smooth;
        background-color: white;
    }
    body {
        background-color: white;
        color: black;
    }
}
